@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --fontBase: clamp(16px, 15.3043px + 0.2174vi, 18px);
    --mod1: 1.33;
    --mod2: calc(var(--mod1)*var(--mod1));
    --mod3: calc(var(--mod2)*var(--mod1));
    --mod4: calc(var(--mod3)*var(--mod1));
    --mod5: calc(var(--mod4)*var(--mod1));
}

html, body {
    font-family: 'Open Sans';    
}

html {
    height: 100vh;
}

body, main {
    height: 100%;
    width: 100%;
    position: relative;
}

main {
    position: relative;
}

.contain {
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Kumbh Sans', sans-serif;
}

h1, .h1 { 
	padding-top: 0.296em;
	margin-bottom: 0.0247em;

    font-size: calc(var(--mod4)*var(--fontBase));
    line-height: calc(var(--mod4)*var(--fontBase)*1.6);
    
}
h2, .h2 { 
	padding-top: 0.176em;
	margin-bottom: 0.333em;

    font-size: calc(var(--mod3)*var(--fontBase));
    line-height: calc(var(--mod3)*var(--fontBase)*1.6);
}

h3, .h3 { 
	padding-top: 0.571em;
	margin-bottom: 0.357em;

    font-size: calc(var(--mod2)*var(--fontBase));
    line-height: calc(var(--mod2)*var(--fontBase)*1.6);
 }
h4, .h4 { 
	padding-top: 0.286em;
	margin-bottom: 0.952em;

    font-size: calc(var(--mod1)*var(--fontBase));
    line-height: calc(var(--mod1)*var(--fontBase)*1.6);
 }
h5, .h5 { font-size: 1.333rem }
h6, .h6 { font-size: 1rem }

p, ul, ol {
	line-height: 1.63em;
	padding-top: 0.500em;
	margin-bottom: 1.13em;
    font-size: var(--fontBase);

    font-weight: 350;
}

a {
    text-decoration: underline;
    color: #8381f1;
}

/* ------------- */

/* -------------- My Code -------------- */

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.closeWrapper > svg {
    width: 100%;
    height: 50px;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    top: 0;
    min-height: 55px;
    min-width: 55px;

}

label {
    padding-left: 1rem;
}
body {
    background: linear-gradient(-45deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;

    --c1:rgb(174, 173, 235);
    --c2:#eac9e7;

    background-attachment: fixed;
}

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
}

.closeBtn {

    fill: whitesmoke;
    filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.24));
    width: 100%;
    right: 0;
}

.absolute {
    position: absolute;
}


.container {
    max-width: 80rem;
    margin: 0 auto;
    
    min-height: 100%;

    padding: 1.5rem;

    
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    width: 100%;
}

.fx {
    transition: 0.5s;
    
    background: linear-gradient(-45deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
}

.fx:hover {
    --x: 100%;
}

.card {

    --c1: #9695ed;
    --c2: #8381f1;

    border-radius: .6rem;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.card:hover {
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

.cardText {

    background: linear-gradient(-45deg, var(--c1), var(--c2) 90%, var(--c1)) var(--x, 0)/ 200%;

    --c1: #9695ed;
    --c2: #8381f1;

    border-radius: .6rem;

    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}


.btn-underage {
    border-radius: .3rem;
    
    --c1: #7aa2ed;
    --c2: #7898f1;

    opacity: .5;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    position: inherit;
}

.button {
    border-radius: .3rem;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    --c1: #7aa2ed;
    --c2: #7898f1;

    position: inherit;
    
}

.button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.buttonText {
    border-radius: .3rem;

    background: linear-gradient(-45deg, var(--c1), var(--c2) 90%, var(--c1)) var(--x, 0)/ 200%;


    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    --c1: white;
    --c2: whitesmoke;

    position: inherit;
}

.cbb {
    --c1: #6e92d5;
    --c2: #6b8ade;
}

.container-mini {
    margin: 0 auto;
    height: 100%;
    width: 100%;

    padding: 1rem;

    border-radius: .3rem;
}

.grid-mini {

    width: 100%;
    height:100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    align-self: center;
    padding: .2rem;

    border-radius: .3rem;

    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.05);
}

.grid-miniText {

    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    height: 100%;
    width: 100%;

    min-height: max-content;
}

.wrapperIndex > h1,
.wrapperIndex > h2,
.wrapperIndex > h3,
.wrapperIndex > h4,
.wrapperIndex > h5 {
    padding: 0;
    margin: 0;
}

.wrapperIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: whitesmoke;

    line-height: calc(var(--mod1)*var(--fontBase)*1.6);

    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.wrapperIndex > h3 {
    line-height: calc(var(--mod1)*var(--fontBase)*1.6);
}

.wrapperIndex > h5 {
    line-height: calc(var(--mod1)*var(--fontBase)*1.6*.7);
}


.wrapperIndex > h5 {
    padding: 1.5rem;
}

.textWrapper {
    color: black;
    text-shadow:none;
}

input {
    height: 3rem;
}

label > h4 {
    padding: 0;
    margin: 0;
}

.radioOptions {
    padding: 0;
    margin: 0;

    font-weight: 200;
}

input[type=submit] {

    transition: 0.5s;
    
    background: linear-gradient(-45deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;

    border-radius: .3rem;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    --c1: #7aa2ed;
    --c2: #7898f1;

    position: inherit;

    font-size: calc(var(--mod1)*var(--fontBase));

    color: whitesmoke;

    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type="text"]
{
    font-size: calc(var(--mod1)*var(--fontBase)*.8);
    padding-left: 1rem;
}

.titleText {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    aspect-ratio: 2.5;
}

.noNo {
    margin: 0;
    padding: 0;
}

/* --------Font Weight----------- */

.fontExtraLight {
    font-weight: 150;
}

.fontLight {
    font-weight: 300;
}

.fontRegular {
    font-weight: 400;
}

.fontMedium {
    font-weight: 500;
}

.fontSemiBold {
    font-weight: 600;
}

/* --------Spacers----------- */

.spacer-100 {
    margin-top: 10rem;
}

.spacer-50 {
    margin-top: 5rem;
}

.spacer-25 {
    margin-top: 2.5rem;
}

.spacer-10 {
    margin-top: 1rem;
}

.panic {
    left: -9.5rem;
    top: -9.5rem;
    height: 6rem;
}

/* -------------- End of My Code -------------- */

/* Layout */

.col-0 { display: none; }
.col-1 { display: grid; grid-column: span 1; }
.col-2 { display: grid; grid-column: span 2; }
.col-3 { display: grid; grid-column: span 3; }
.col-4 { display: grid; grid-column: span 4; }
.col-5 { display: grid; grid-column: span 5; }
.col-6 { display: grid; grid-column: span 6; }
.col-7 { display: grid; grid-column: span 7; }
.col-8 { display: grid; grid-column: span 8; }
.col-9 { display: grid; grid-column: span 9; }
.col-10 { display: grid; grid-column: span 10; }
.col-11 { display: grid; grid-column: span 11; }
.col-12 { display: grid; grid-column: span 12; }


@media screen and (min-width: 568px) {
    
    .col-0-sm { display: none; }
    .col-1-sm { display: grid; grid-column: span 1; }
    .col-2-sm { display: grid; grid-column: span 2; }
    .col-3-sm { display: grid; grid-column: span 3; }
    .col-4-sm { display: grid; grid-column: span 4; }
    .col-5-sm { display: grid; grid-column: span 5; }
    .col-6-sm { display: grid; grid-column: span 6; }
    .col-7-sm { display: grid; grid-column: span 7; }
    .col-8-sm { display: grid; grid-column: span 8; }
    .col-9-sm { display: grid; grid-column: span 9; }
    .col-10-sm { display: grid; grid-column: span 10; }
    .col-11-sm { display: grid; grid-column: span 11; }
    .col-12-sm { display: grid; grid-column: span 12; }

    .panic {
        height: 9rem;
    }
}

@media screen and (min-width: 834px) {
    
    .col-0-md { display: none; }
    .col-1-md { display: grid; grid-column: span 1; }
    .col-2-md { display: grid; grid-column: span 2; }
    .col-3-md { display: grid; grid-column: span 3; }
    .col-4-md { display: grid; grid-column: span 4; }
    .col-5-md { display: grid; grid-column: span 5; }
    .col-6-md { display: grid; grid-column: span 6; }
    .col-7-md { display: grid; grid-column: span 7; }
    .col-8-md { display: grid; grid-column: span 8; }
    .col-9-md { display: grid; grid-column: span 9; }
    .col-10-md { display: grid; grid-column: span 10; }
    .col-11-md { display: grid; grid-column: span 11; }
    .col-12-md { display: grid; grid-column: span 12; }
}

@media screen and (min-width: 1080px) {

    .col-0-lg { display: none; }
    .col-1-lg { display: grid; grid-column: span 1; }
    .col-2-lg { display: grid; grid-column: span 2; }
    .col-3-lg { display: grid; grid-column: span 3; }
    .col-4-lg { display: grid; grid-column: span 4; }
    .col-5-lg { display: grid; grid-column: span 5; }
    .col-6-lg { display: grid; grid-column: span 6; }
    .col-7-lg { display: grid; grid-column: span 7; }
    .col-8-lg { display: grid; grid-column: span 8; }
    .col-9-lg { display: grid; grid-column: span 9; }
    .col-10-lg { display: grid; grid-column: span 10; }
    .col-11-lg { display: grid; grid-column: span 11; }
    .col-12-lg { display: grid; grid-column: span 12; }
}


.red {
    background-color: red;
}

/* .bumperL {
    background-color: red;
}

.bumperR {
    background-color: red;
} */

.grid > div {
    /* border: 1px solid red; */
 }

 
.child{
    display: none;
}

.card {
    display: none;
}

/* .AMAB, .AFAB, .mature {
    position: absolute;
    visibility: hidden;
} */

.show {
    display: grid;
}

.hide {
    display: none;
}

.iframe {
    display: none;
}

.panic {
    aspect-ratio: 1;
    margin: 10rem;
    position: fixed;
    
    background-color: rgb(251, 15, 15);
    border-radius: 50%;
    
    z-index: 99;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor:pointer;

    left: -9.5rem;
    bottom: -9.5rem;
}














